{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="alert alert-{{ type }}">{{ message }}</div>
    {% endfor %}
{% endfor %}
  {{ form_start(reviewmanagerConfigurationForm) }}
  <div class="card">
    <h3 class="card-header">
      <i class="material-icons">settings</i> {{ 'Source types'|trans({}, 'Modules.Reviewmanager.Admin') }}
    </h3>
    <div class="card-body">
      <div class="form-wrapper">
        {{ form_widget(reviewmanagerConfigurationForm) }}
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary float-right" id="save-button">
          {{ 'Save'|trans({}, 'Admin.Actions') }}
        </button>
      </div>
    </div>
  </div>
  {{ form_end(reviewmanagerConfigurationForm) }}


  <div class="card">
    <h3 class="card-header">
      <i class="material-icons">star</i> {{ 'Most recent scores'|trans({}, 'Modules.Reviewmanager.Admin') }}
    </h3>
    <div class="card-body">
      <div class="svg-container">
        {{ svgRating|raw }}
      </div>
    </div>
  </div>

{% endblock %}
